.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button-group{
  display: flex; 
  align-items: center;
  flex-direction: column;
  margin-top: 15%;
}

button{
  width: 20%;
  margin-top: 5%;
}

.img-container{
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

img{
  width: 60%;
  height: auto;
}