#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
  }
  
  .img-container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }
  
  img {
    max-width: 50%;
    height: auto;
  }
  
  .reg-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }
  
  .button-group {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15%;
  }
  
  button {
    width: 100%;
    max-width: 200px;
    margin-top: 5%;
    margin-bottom: 3%;
  }
  
  ion-header {
    --background: white; 
    --border-color: transparent; 
    --ion-toolbar-background: white;
    margin-top: 10%;
  }
  
  ion-toolbar {
    box-shadow: none; 
    --padding-top: 0px; 
    --margin-top: 0px; 
  }

  ion-content {
    --background: linear-gradient(135deg, rgba(58, 255, 255, 0.3) 0%, rgba(54, 149, 244, 0.5) 100%);
  }
  