<ion-content class="body" [fullscreen]="true">
  <ion-header>
      <ion-title size="large" style="display: flex; justify-content: center">
        Welcome!
      </ion-title>
      <div style="display: flex; justify-content: center;">
        <h3>Sign in to your account</h3>
      </div>
  </ion-header>

  <div id="container">
    <div class="img-container">
      <img src="../../../assets/login.png" />
    </div>

    <form class="reg-form" [formGroup]="loginForm" (ngSubmit)="handleLogin()">
      <div>
        <ion-input
          type="email"
          fill="solid"
          label="Email"
          labelPlacement="floating"
          helperText="Enter a valid email"
          errorText="Invalid email"
          formControlName="email"
          name="email"
          required
        ></ion-input>
        <ion-input
          type="password"
          fill="solid"
          label="Password"
          labelPlacement="floating"
          helperText="Enter password"
          errorText="Invalid password"
          formControlName="password"
          name="password"
          required
        ></ion-input>
      </div>
      <div class="button-group">
        <button type="submit" class="btn btn-dark">
          Login
        </button>
      </div>
    </form>
    <div>
          <p>Don't have an account? <span style="color: blue;"><a routerLink="/register">Sign up</a></span></p>
    </div>
  </div>
</ion-content>
