#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .img-container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .reg-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }
  
  .button-group {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 3%;
  }
  
  button {
    width: 100%;
    max-width: 200px;
    margin-top: 5%;
  }
  
 .register-body {
    --background: linear-gradient(90deg, rgb(140, 251, 183) 0%, rgba(251,248,134,1) 35%, rgb(255, 239, 121) 100%);
  }
  
  

